<div class='container'>
  <div class='row'>

    <div class='col mt-5 mx-auto'>
      <h4><strong>フォロー一覧</strong></h4>
      <%= render 'public/relationships/follow', users: @users %>
    </div>

  </div>
</div>