<div class='container px-5 px-sm-0'>
  <div class='row'>

    <div class='col-md-10 mt-5 mx-auto'>
      <h4><strong>フォロー一覧</strong></h4>
      <%= render 'public/relationships/follow', users: @users %>
    </div>

  </div>
</div>