<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-6">
      <%= image_tag 'about', class: 'img-fluid' %>
    </div>
    <div class="col-md-12 col-lg-6 mt-3 mt-lg-0">
      <h3>minimums_Codeとは？</h3>
      <h4>”低身長&小柄な人向けのコーディネート投稿サイト”</h4>
      <p>私はXジェンダー(※)いうこともあり、メンズコーデをしています。</p>
      <p>しかし身長が低いこともあり、洋服探しにいつも、とても苦労しています。</p>
      <p>コーディネートを投稿するサイトは多く存在しており、私自身もコーディネートを参考にするために使用したこともあります。</p>
      <p>しかし、低身長で小柄な人の投稿はなかなか見つかりませんでした。また低身長男性のファッションを参考にしようと思っても、</p>
      <p>男性の低身長は160センチ台であることが多く、欲しい情報にたどり着きにくく、自身と似たような背丈の方の情報が探しにくいと感じていました。</p>
      <p>そのため、あえて対象ユーザーを低身長でメンズコーデをしている方に限定することで参考にしたいコーディネートを探しやすいサイトにしました！！</p>
      ※Xジェンダーとは・・・性自認が「男性」とも「女性」とも断言できないセクシュアリティのことで、Xジェンダーの中にも「男性でも女性でもない」「男性でも女性でもある」「日によって変わる」「男性と女性の間」など様々な性自認があります。
    </div>
  </div>
</div>