<div class="container-fluid">
  <div class="row mt-5 mb-5">
    <div class="col-md-12 col-lg-6">
      <%= image_tag 'about', class: 'img-fluid' %>
    </div>

    <div class="col-md-12 col-lg-6 mt-3 mt-lg-0">
      <h3 class="mb-5"><strong>minimums_Codeとは？</strong></h3>
      <h4 class="mb-3">”低身長(160㎝以下)の人向けのコーディネート投稿サイト”</h4>
      <p>私は性別は女性ですがXジェンダー(※)ということもあり、メンズコーデをしています。</p>
      <p>しかし身長が低いこともあり、洋服探しにいつも、とても苦労しています。</p>
      <p>コーディネートを投稿するサイトは多く存在しており、私自身もコーディネートを参考にするために使用したこともあります。</p>
      <p>しかし、低身長の方の投稿はなかなか見つかりませんでした。また低身長男性のファッションを参考にしようと思っても、男性の低身長は160センチ台であることが多く、欲しい情報にたどり着きにくく、自身と似たような背丈の方の情報が探しにくいと感じていました。</p>
      <p>そのため、あえて対象ユーザーを低身長でメンズコーデをしている方に限定することで参考にしたいコーディネートを探しやすいサイトにしました！！</p>
      ※Xジェンダー・・・性自認が「男性」とも「女性」とも断言できないセクシュアリティのことで、Xジェンダーの中にも「男性でも女性でもない」「男性でも女性でもある」「日によって変わる」「男性と女性の間」など様々な性自認があります。
    </div>

  </div>
</div>