
<!--ログインしましたの表示を出す-->
<div class="notice">
  <%= notice %>
</div>

<h1>会員側のトップページ</h1>

<h4>ランキング表示</h4>
<% @all_ranks.each do |outfit| %>
  <%= outfit.title %>
  <%= image_tag outfit.image, size: "200x200" %>
<% end %>

