<div class='container m-5 px-sm-0 mx-auto'>
  <div class='row'>

    <!--サイドバー-->
    <div class='col-md-4'>
      <!--プロフィール-->
      <%= render 'public/users/info', user: current_user %>
      <!--投稿フォーム-->
      <%= render 'public/outfits/form', outfit: @outfit, user: current_user %>
    </div>

    <!-- ユーザーの投稿一覧 -->
    <div class='col-md-8 border rounded bg-white'>
      <div class='mt-3'>
        <!--投稿一覧-->
        <%= render 'public/outfits/index', outfits: @outfits %>
      </div>
    </div>

  </div>
</div>