<div style="color: red">
  <% if outfit_comment.errors.any? %>
    <% outfit_comment.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>
</div>

<!--コメント投稿フォーム-->
<%= form_with model: [outfit,outfit_comment], url: outfit_outfit_comments_path(outfit), method: :post, local: false do |comment| %>
  <%= comment.text_area :comment, class:"form-control mb-2", placeholder: "コメントをここに" %>
  <%= comment.submit "コメント投稿", class: "btn btn-success" %>
<% end %>