@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


body {
  background-color: #f5f5f5;
  font-family: Meiryo;
}

.mv-text {
  text-shadow:
        1px 1px 0 #000,
        -1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
  font-size: calc(10px + 1.5vw)
}

.link {
  font-size: 12px;
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: none;
  color: black;
  background-color: #e1e1e1;
}

/********************
 * トップ画面
 ********************/
.top-image {
  max-width: 100%;
  height: auto;
}

.ranking-image {
  max-width: 200px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 20px;
}


/********************
 * ログイン・新規登録画面
 ********************/
.registration-wrap,
.login-wrap {
  height: calc(100vh - 66px - 40px);
  background-color: #f5f5f5;
}

.alert {
  color: red;
}

.center-text {
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  white-space: nowrap;
}

/********************
 * 投稿詳細画面
 ********************/

.outfit-image {
  width: auto;
  max-height: 300px;
  border-radius: 20px;
}


.prf-image {
  width: auto;
  max-height: 100px;
  border-radius: 50px;
}

/********************
 * ページネーション
 ********************/
.pagination li a, .pagination li span {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/

}

// 表示しているページ番号のデザイン
.pagination li .current {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination li a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

ul.pagination {
  border: 1px solid #dee2e6;
  // background-color: #fff;
}