<h1>管理者側の会員一覧・詳細ページ</h1>

<!-- ユーザー一覧 -->

<% @users.each do |user| %>
  <%= link_to user.nickname, edit_admin_user_path(user.id) %>
  <%= image_tag user.get_profile_image(100,100) %>
  <p>自己紹介：<%= user.introduction %></p>
  <p>身長(㎝)：<%= user.height %></p>
  <% if user.is_deleted == true %>
    <p class="text-secondary font-weight-bold">会員ステータス：退会済</p>
  <% else %>
    <p class='text-success font-weight-bold'>会員ステータス：有効</p>
  <% end %>

<% end %>